Checks: >
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  portability-*,
  cppcoreguidelines-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
