[run]
source = CLUEstering

omit = 
    */tests/*
    */venv/*
    */__init__.py

branch = True

[report]
show_missing = True
skip_covered = True
precision = 2

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
    def __str__
