# Pycache folders
*__pycache__

# Folders generate during the build
*CLUEstering.egg-info
dist/
build/

# Shared library files
*.so

# Profiling files
*out*
vgcore.*

# Executables
*.out
*run_tests.sh

# Misc.
*.pdf
*file1.csv
*file2.csv
*_output.csv
*_passed.py
