[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/sbaldu/pybind11.git
	branch = master
[submodule "extern/alpaka"]
	path = extern/alpaka
	url = https://github.com/cms-patatrack/alpaka.git
