# Pycache folders
*__pycache__

# Folders generate during the build
*CLUEstering.egg-info
dist/
build/

# Shared library files
*.so

# Python wheel files
*.whl

# Profiling files
*out*
vgcore.*

# Executables
*.out
*run_tests.sh

# Misc.
*.pdf
*file1.csv
*file2.csv
*_output.csv
tests/*.png
*_passed.py
*test_sissa_import.csv

# Documentation
docs/html
docs/latex
docs/search
docs/*.js
docs/*.css
docs/*.html
docs/*.svg
docs/xml
docs/build

# cache folders
*.cache

# ctest folders
*Testing
