# Pycache folders
*__pycache__

# Folders generate during the build
*CLUEstering.egg-info
dist/
build/

# Shared library files
*.so

# Executables
*.out

# Misc.
*.pdf
*file1.csv
*file2.csv
*_output.csv
*_passed.py
