name: clang-format Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: fedora-latest
    strategy:
      matrix:
        path:
          - 'CLUEstering/alpaka'
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.11.0
      with:
        clang-format-version: '17'
        check-path: ${{ matrix.path }}
        exclude-regex: 'CLUEstering/include/test/doctest.h'
