name: Python package

# The workflow gets triggered by pushes and pull requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10"]

    steps:
    # Checks out the code in the repository
    - uses: actions/checkout@v3
      with: 
        submodules: true
    # Sets up Python on the machine with the right version
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    # Installs the dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install scikit-learn 
        python -m pip install pandas
        python -m pip install matplotlib
        apt install -y libboost-dev
    - name: Compile CLUEstering modules
      working-directory: ${{github.workspace}}
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release && cmake --build build
        cmake -B build
    - name: Run tests of the Python library
      working-directory: ${{github.workspace}}/tests
      run: |
        python3 -m pytest ./*.py
