name: Python Package using Conda

# The workflow gets triggered by pushes and pull requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
      with: 
        submodules: true
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file ${{github.workspace}}/.env/test_env.yml --name base
    - name: Compile CLUEstering modules
      working-directory: ${{github.workspace}}
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release && cmake --build build
        cmake -B build
    - name: Test with pytest
      working-directory: ${{github.workspace}}/tests
      run: |
        conda install -c conda-forge gcc_linux-64 gxx_linux-64
        strings $(conda info --base)/lib/libstdc++.so.6 | grep GLIBCXX
        python3 -m pytest ./*.py
