name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-clang-15
            os: ubuntu-latest
            container: fedora:42
            compiler: clang-15
          - name: linux-clang-17
            os: ubuntu-latest
            container: fedora:42
            compiler: clang-17
          - name: linux-clang-18
            os: ubuntu-latest
            container: fedora:42
            compiler: clang-18
          - name: linux-clang-19
            os: ubuntu-latest
            container: fedora:42
            compiler: clang-19
          - name: macos-clang
            os: macos-latest

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
    - name: Install dependencies
      if: matrix.container == 'fedora:42'
      run: |
        dnf install -y ${{ matrix.compiler }}
        dnf install -y git cmake boost-devel tbb libomp.x86_64 python3-devel python3-pip

    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew update
        # brew upgrade python
        brew install boost tbb libomp

    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      if: matrix.os == 'macos-latest'
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install pytest scikit-learn pandas matplotlib --break-system-packages

    - name: Compile CLUEstering modules
      working-directory: ${{ github.workspace }}
      run: |
        cmake -S . -B build -DBUILD_PYTHON=ON -DCMAKE_BUILD_TYPE=Release
        cmake --build build --parallel

    - name: Run tests of the Python library
      working-directory: ${{github.workspace}}/tests
      run: |
        python3 -m pytest ./*.py
