name: Test C++ interface (Nix Flake)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc12, gcc13, clang15]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Build in Nix shell
        run: |
          echo "Using compiler: ${{ matrix.compiler }}"
          nix develop .#${{ matrix.compiler }} --command bash -c "
            cmake -B build -S tests -DCMAKE_CXX_COMPILER=$(which c++) -DCMAKE_BUILD_TYPE=Release
            cmake --build build -- -j3
            ./build/cpu/serial.out --reporters=console --success
            ./build/cpu/tbb.out --reporters=console --success
            ./build/cpu/openmp.out --reporters=console --success
          "
