name: Test C++ interface

# The workflow gets triggered by pushes and pull requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    # checks out the code in the repository
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt install -y libboost-dev
        sudo apt install -y libtbb-dev
        sudo apt install libomp-dev

    - name: Compile and run tests
      working-directory: ${{ github.workspace }}/tests
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build -- -j 3
        echo "Running serial backend"
        ./build/cpu/serial.out
        echo "Running TBB backend"
        ./build/cpu/tbb.out
        echo "Running OpenMP backend"
        ./build/cpu/openmp.out

