name: Test C++ interface

# The workflow gets triggered by pushes and pull requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    # checks out the code in the repository
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt install -y libboost-atomic-dev
        sudo apt install -y libtbb-dev
        sudo apt install libomp-dev

    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install boost tbb libomp

    - name: Compile and run tests
      working-directory: ${{ github.workspace }}/tests
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --parallel
        ctest --test-dir build --output-on-failure
