name: Test C++ interface

# The workflow gets triggered by pushes and pull requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [g++-12, g++-13, clang-15]


    steps:
    # checks out the code in the repository
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt install -y libboost-dev
        sudo apt install -y libtbb-dev
        sudo apt install libomp-dev

    - name: Install compiler
      run: sudo apt install ${{ matrix.compiler }}

    - name: Compile and run benchmark
      working-directory: ${{ github.workspace }}/tests
      run: |
        cmake -B build -DCMAKE_CXX_COMPILER={{ matrix.compiler }} -DCMAKE_BUILD_TYPE=Release
        cmake --build build -- -j 3
        echo "Running serial backend"
        ./build/cpu/serial.out --reporters=console --success
        echo "Running TBB backend"
        ./build/cpu/tbb.out --reporters=console --success
        echo "Running OpenMP backend"
        ./build/cpu/openmp.out --reporters=console --success
