name: Test C++ interface (Nix)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc12, gcc13, clang15]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Setup Nix shell and build
        run: |
          nix develop -L -E '
            let
              pkgs = import <nixpkgs> {};
              compiler = {
                gcc12 = pkgs.gcc12;
                gcc13 = pkgs.gcc13;
                clang15 = pkgs.llvmPackages_15.clang;
              }.${{ matrix.compiler }};
            in
              pkgs.mkShell {
                buildInputs = [
                  compiler
                  pkgs.boost
                  pkgs.tbb
                  pkgs.libomp
                  pkgs.cmake
                ];
              }
          ' --command bash -c "
            cmake -B build -S tests \
              -DCMAKE_CXX_COMPILER=$(which c++) \
              -DCMAKE_BUILD_TYPE=Release
            cmake --build build -- -j3

            echo 'Running serial backend'
            ./build/cpu/serial.out --reporters=console --success

            echo 'Running TBB backend'
            ./build/cpu/tbb.out --reporters=console --success

            echo 'Running OpenMP backend'
            ./build/cpu/openmp.out --reporters=console --success
          "
